@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

$highlight-color: rgba(211, 9, 96, 1);

$highlight-dark-color: rgba(128,128,128, 1);

* {
	font-family: "open sans Condensed";
	color: rgba(65, 68, 73, 1);
	text-align: center;
}

