@media (max-width: 767px) {

.navigation_bar {
		background-color: $highlight-dark-color;
		padding: 10px;
		position: fixed;
		width: 100%;
		text-align: center;

		a {
		padding: 0 20px;
		font-size: 18px;
		}
	}

	.introduction {
		background-color: $highlight-color;
		padding-top: 30px;
		
		h2 {
		font-size: 36px;
		margin-bottom: 10px;
		}

		img {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		}
	}

	.summury {
		background-color: $highlight-color;
		font-size: 20px;
		padding: 0 20px;
		margin: 0;

		p {
			margin: 0;
			padding-bottom: 10px;
		}

		&::first-letter {
		font-weight: bold;
		}
	}

	.background {
		background-color: $grey-opacity01;
		border-top: solid $font-color-darkgrey thin;
		border-bottom: solid $font-color-darkgrey thin;

		.experience, .education, .personal-interest {
		}
	}

	.contact {
		background-color: $highlight-dark-color;
		font-size: 28px;
		padding: 20px 0;
		display: flex;

		p {
			flex: 1;
		}

		i {
			padding-right: 10px;
		}		
	}

	footer {
		background-color: $grey-opacity05;

		p {
		margin: 0px;
		padding-left: 10px;
		text-align: center;
		}
	}
}