$highlight-color: rgba(211, 9, 96, 1);

$highlight-dark-color: rgba(128,128,128, 1);

$grey-opacity05: rgba(128,128,128, 0.5);

$grey-opacity01: rgba(128,128,128, 0.1);

$white-color: rgba(255,255,255, 1);

$font-color-darkgrey: rgba(65, 68, 73, 1);

