@import 'reset';

@import 'global';

@import 'variables';

@import 'phones';
@import 'tablets';

@media (min-width: 992px) {

	.navigation_bar {
		background-color: $highlight-dark-color;
		padding: 15px;
		position: fixed;
		width: 100%;
		text-align: right;

		a {
		padding: 10px;
		margin-right: 40px;
		font-size: 22px;
		}
	}

	.introduction {
		background-color: $highlight-color;
		padding-top: 200px;
		
		h2 {
		font-size: 36px;
		margin-bottom: 40px;
		}

		img {
		border-radius: 50%;
		width: 300px;
		height: 300px;
		}
	}

	.summury {
		background-color: $highlight-color;
		font-size: 20px;
		padding: 50px 300px;

		&::first-letter {
		font-weight: bold;
		}
	}

	.background {
		display: flex;
		background-color: $grey-opacity01;
		border-top: solid $font-color-darkgrey thin;
		border-bottom: solid $font-color-darkgrey thin;
		margin-top: 200px;
		padding: 40px;

		.experience, .education, .personal-interest {
			flex: 1;
		}
	}

	.contact {
		background-color: $highlight-dark-color;
		margin-top: 200px;
		padding: 50px 100px;
		font-size: 30px;
		display: flex;

		p {
			flex: 1;
		}

		i {
			padding-right: 10px;
		}		
	}

	footer {
		background-color: $grey-opacity05;

		p {
		margin: 0px;
		padding-left: 10px;
		text-align: left;
		}
	}
}


